/* estilo.css */

body {
    background-color: rgba(196, 196, 228, 0.8);
}

.imagen_medio {
    margin: 15px;
    width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
}

h5 {
    background-color: rgba(33, 25, 175, 0.7);
}

p {
    background-color: rgba(62, 13, 223, 0.7);
    color: white;
}

.centrar-carrusel {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 100px;
}

.carousel-inner .carousel-item img {
    height: auto;
}

.carousel-caption {
    max-width: 70%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 80px;
    margin: 15px;
    border-radius: 50%;
    overflow: hidden;
}

.cont1 {
    background-color: rgb(2, 27, 58);
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Para ajustar en pantallas pequeñas */
    text-align: center;
}

.cont2 {
    background-color: #9f9090;
    size: 40px;
}

#liss.navbar {
    background-color: #9f9090 !important;
}

.divider {
    display: inline-block;
    width: 2px;
    height: 80px;
    background-color: white;
    margin: 0 20px;
}

.brand-text {
    color: white;
    font-family: Arial, sans-serif;
}

.brand-text .line1 {
    font-size: 24px;
    display: block;
}

.brand-text .line2 {
    font-size: 24px;
    display: block;
}

footer {
    background-color: #9f9090;
    color: black;
    margin: 25px auto; /* Auto centrará el footer horizontalmente */
    border-left-color: blue;
    align-items: center;
    text-align: center;
    height: 60px;
    font-weight: bold; /* Negrilla al texto */
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
}

/* Estilos responsivos adicionales */
@media (max-width: 768px) {
    .centrar-carrusel {
        width: 100%;
        margin-left: 0;
    }

    .cont1 {
        flex-direction: column;
    }

    .brand-text {
        text-align: center;
    }

    .logo {
        margin: 0 auto;
    }

    .submenu {
        text-align: center;
        margin: 20px auto;
    }
}

.submenu .list-group-item a {
    text-decoration: none; 
    color: inherit; 
    font-size: 1.2rem; 
}

.submenu .list-group-item {
    transition: background-color 0.3s, color 0.3s; 
}

.submenu .list-group-item:hover {
    background-color: rgba(33, 25, 175, 0.7); 
    color: white; 
}

.submenu .list-group-item:hover a {
    color: white; 
}
